<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- Include your custom CSS styles if needed -->
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
</head>
<nav class="navbar navbar-expand-lg navbar-light mbta-navbar">
    <div class="container">
        <a class="navbar-brand" href="/homepage">MBTA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/migrate">Migrate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/datatables">Show Databases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/drop_database">Remove Databases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Search</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</html>