<!DOCTYPE html>
<html>
<head>
    <title>Tables in {{ db_name }}</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Tables in {{ db_name }}</h2>
        <ul class="list-group mt-3">
            {% for table in tables %}
            <li class="list-group-item"><a href="{{ url_for('show_table_data', db_name=db_name, table_name=table) }}">{{ table }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <!-- Include Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
